@page
@model BlogApp.Pages.Users.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "_UserLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>About</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/css/template/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/css/template/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/template/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/css/template/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/css/template/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="/css/template/https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="/css/template/css/owl.carousel.min.css">
    <link rel="stylesoeet" href="/css/template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/template/https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <!-- about section start -->
    <div class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="about_img"><img src="/css/template/images/about-img.png"></div>
                    <div class="like_icon"><img src="/css/template/images/like-icon.png"></div>
                    <p class="post_text">Post By : 09/06/2019</p>
                    <h2 class="most_text">Most Awesome Blue Lake With Snow <br>Mountain</h2>
                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    <div class="social_icon_main">
                        <div class="social_icon">
                            <ul>
                                <li><a href="css/template/#"><img src="/css/template/images/fb-icon.png"></a></li>
                                <li><a href="css/template/#"><img src="/css/template/images/twitter-icon.png"></a></li>
                                <li><a href="css/template/#"><img src="/css/template/images/instagram-icon.png"></a></li>
                            </ul>
                        </div>
                        <div class="read_bt"><a href="/css/template/#">Read More</a></div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="image_5"><img src="/css/template/images/img-5.png"></div>
                    <h1 class="about_taital">About Us</h1>
                    <p class="about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    <div class="read_bt_1"><a href="css/template/#">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section end -->
   
</body>
</html>