.blogsData {
    background-color: #383b72;
    padding : 20px 40px;
    margin : 10px 10px;
    position : relative;
    width : 1200px;
}
    .blogsData:hover {
        box-shadow : 10px 10px 30px black;
        border-radius : 30px;
    }
    h1 {
        /*position : absolute;*/
        margin: -20px 540px;
        width: 100%;
        font-size: 2em;
        font-weight: bold;
    }
    .blogsData > .author {
        color: greenyellow;
        font-size: 1.1em;
        position: absolute;
        left: 75%;
        top: 70%;
    }
    .blogsData > h3 {
        color : white;
        text-decoration : underline;
    }
    .blogsData > .blogcontent {
        color : ghostwhite;
    }
