body {
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}
.formContainer {
    margin: 50px 40px;
    padding: 20px 40px;
    background-color: #383b72;
    width : 650px;
    display : flex;
    align-items : center;
    flex-direction : column;
    color : white;
    box-shadow : 8px 8px 30px black;
    border-radius : 5px;
}
    .formContainer > h2 {
        color : white;
        font-size : 2em;
        font-weight : bold;
    }

    .formContainer > form > .title > input,
    .formContainer > form > .content > textarea {
        width: 600px;
        margin: 10px 0px;
    } 
    .formContainer > form > button {
        padding: 5px 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0 ;
    }